{% block content %}
  <form action="{% url "index" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Submit"  />
  </form>
  {% if submitbutton == "Submit" %}
    <p> Ваш введенный JSON: <a href="{{ jsonfield }}">{{ jsonfield }}</a></p>
    {% if urls %}
      {% for url in urls %}
        <p>URL {{ url }}:</p>
        {% for link in links %}
          {{ link | truncatewords_html:20 }}
        {% endfor %}
        <hr>
        <p>Категории: </p>
        {% for cat_name in cat_names %}
          {{ cat_name }}
        {% endfor %}
        <p>Товары: </p>
        {% for prod_name in prod_names %}
          {{ prod_name }}
        {% endfor %}
      {% endfor %}
    {% else %}
      Нет введенных ссылок!
    {% endif %}
  {% endif %}
{% endblock %}
